*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'PT Root UI', sans-serif;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

h3 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

a {
  text-decoration: none;
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

input > checkbox {
  margin: 0px;
}

button {
  border: 0px;
  background-color: inherit;
}